.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

## git project
keeleR.Rproj

## any html renders of markdown in the tutorials folder or files directories
inst/tutorials/*/*.html
inst/tutorials/*/*_files/

## working
working/
